.projects {
    .card-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .top {
        width: 100%;
        height: 40%;
        position: absolute;
        top: 0;
        transition: ease-in-out 320ms;
        overflow: visible;

        div {
            max-width: 100%;
            height: auto;
            transition: ease-in-out 600ms;
        }
    }

    .bottom {
        width: 100%;
        height: 60%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        color: black;
        transition: ease-in-out 320ms;

        * {
            background: white;
        }

        .bottom-wrapper {
            width: 80%;
            height: 80%;
            position: relative;
            overflow: visible;

            * {
                overflow: visible;
            }

            .text-wrapper {
                h1 {
                    margin: 0;
                    padding-bottom: 8px;
                    font-size: 20px;
                    font-weight: bold;
                }

                li {
                    font-size: 14px;

                    &.show {
                        display: list-item;
                    }

                    &.hide {
                        display: none;
                    }
                }
            }

            .action-buttons {

                position: absolute;
                bottom: 0;
                width: 100%;
                height: 70px;
                transition: ease-in-out 320ms;

                > * {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }

                .stack {
                    color: black;
                    overflow: hidden;
                    white-space: nowrap;
                    height: fit-content;

                    .tech {
                        font-family: sans-serif;
                        font-size: 14px;
                        margin: 0 6px;
                    }
                }

                .buttons {
                    padding-top: 10px;
                    height: 36px;
                    overflow: hidden;
                    box-sizing: content-box;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    transition: ease-in-out 320ms;

                    .button-wrapper {
                        margin: 0 6px;
                        height: fit-content;
                        transition: linear 100ms;

                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
                        }

                        a {
                            height: 100%;

                            button {
                                background-color: #4CAF50;
                                border: none;
                                border-radius: 4px;
                                padding: 0 10px;
                                height: 36px;
                                color: white;
                                font-weight: 500;
                                font-size: 0.875rem;
                                letter-spacing: 0.08929em;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}

.mini-cards .project-card {
    flex: 0 1 350px;
    height: 500px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    margin: 10px;
    padding: 0;

    @media (min-width: 741px){
        &:hover {
            .top {
                div {
                    transform: translatey(-5px) translatex(-5px) scale(1.05);
                    filter: brightness(90%);
                }
            }

            .bottom {
                height: 50%;

                .action-buttons {
                    height: 75px;
                }
            }
        }
    }
}

.fullscreen-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;

    .fullscreen.project-card {
        $fullscreen-width: 65vh;
        $fullscreen-height: 85vh;

        position: fixed;
        width: $fullscreen-width;
        height: $fullscreen-height;
        top: 50%;
        left: 50%;
        margin-top: calc(-1 * (#{$fullscreen-height} / 2)); /* Negative half of height. */
        margin-left: calc(-1 * (#{$fullscreen-width} / 2)); /* Negative half of width. */
        overflow: visible;
        box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);

        .x-btn {
            transition: all 0.5s ease;
            position: absolute;
            background-color: #595959;
            padding: 1.5px 7px;
            top: -2px;
            right: -10px;
            margin-left: -10px;
            margin-top: -9px;
            border-radius: 50%;
            border: 2px solid gray;
            color: white;
            z-index: 1;
            -webkit-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
            box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);

            &:hover {
                background-color: #1a1a1a;
                -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
                -moz-box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
                box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
            }

            &:focus {
                outline-width: 0;
            }
        }

        .top {
            position: absolute;
            width: 100%;
            height: 40%;
            top: 0;
            overflow: hidden;
        }

        .bottom {
            position: absolute;
            width: 100%;
            height: 60%;
            bottom: 0;
            overflow: hidden;


            .bottom-wrapper {
                width: 90%!important;
                height: 90%!important;

                .text-wrapper .title {
                    text-align: center;
                    font-size: 32px;
                    padding-bottom: 8px;
                }
            }
        }

    }
}