p {
    margin-bottom: 0!important;
}

div.grid {
    display: grid;

    // Enable if the icons result in page being full mobile screen size
    // and name (title) reaches the top of the page

    //@media (max-width: 740px) {
    //    padding: 100px 0;
    //}
}

.grid > header {
    width: clamp(20vw, 40vw, 80vw);

    @media (max-width: 740px) {
        width: 100vw;
    }

}

.grid.center {
    place-items: center;
}

.fullHeight {
    height: 100vh;

    @media (max-width: 740px) {
        height: 90vh;
    }
}

header h1 {
    text-align: center;
    font-size: clamp(44px, 4.4vw, 80px);
    margin-bottom: -.5rem;
}

header div {
    text-align: center;
    font-size: clamp(22px, 2.2vw, 30px);

    p {
        display: inline-block;
    }

    p:first-letter {
        color: orange;
    }

    p:first-child:after {
        content: " ";
        white-space: pre;
    }
}

nav.grid {
    margin-top: calc(9vh - 30px);

    ul {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        justify-content: center;
        justify-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media (min-width: 741px){
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 20px;
        }

        @media (max-width: 740px) {
            margin-top: 0;
            grid-gap: calc(18vh - 100px);
            grid-auto-flow: row;
        }
    }

    li {

        @media (min-width: 741px){
            display: grid;
            grid-auto-flow: row;
            justify-content: center;
            justify-items: center;
        }

        span {
            @media (max-width: 740px) {
                display: none;
            }
            visibility: hidden;
        }

        &:hover {
            a svg {
                transform: scale(1.2);
                transform-origin: 50% 50%;
            }

            span {
                visibility: visible;
            }
        }
    }

    a {
        font-size: clamp(2rem, 4vw, 4rem);
        color: white;

        @media (max-width: 740px) {
            font-size: 3rem
        }
    }
}