$animation-length: 1.5s;
$overlay-animation-length: $animation-length * 1.34;
$navbar-animation-length: $animation-length * 0.67;
$title-animation-length: $animation-length * 1.1;

@keyframes removeBackground {
    0% {
        background: white;
        opacity: 0.05;
        visibility: visible;
    }
    100% {
        opacity: 0;
    }
}

p {
    margin-bottom: 0 !important;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    opacity: 0;
    visibility: hidden;
    animation: $overlay-animation-length linear 0s removeBackground;
}

div.grid {
    display: grid;

    // Enable if the icons result in page being full mobile screen size
    // and name (title) reaches the top of the page

    //@media (max-width: 740px) {
    //    padding: 100px 0;
    //}
}

.grid > header {
    width: clamp(20vw, 40vw, 80vw);
    background: none;

    @media (max-width: 740px) {
        width: 100vw;
    }

    * {
        background: none;
    }

}

.grid.center {
    place-items: center;
}

.fullHeight {
    height: 100vh;

    @media (max-width: 740px) {
        height: 90vh;
    }
}

header > .title-wrapper {

    @media (max-width: 740px) {
        margin-top: 20px;
    }

    @keyframes fadeIn {
        0% {
            transform: scale(0.85);
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    animation: $title-animation-length ease-out 0s 1 fadeIn;

    > h1 {
        text-align: center;
        font-size: clamp(44px, 4.4vw, 80px);
        margin-bottom: -.5rem;
    }

    > div {
        text-align: center;
        font-size: clamp(22px, 2.2vw, 30px);

        p {
            display: inline-block;
        }

        p:first-letter {
            color: orange;
        }

        p:first-child:after {
            content: " ";
            white-space: pre;
        }
    }
}

nav.grid {
    margin-top: calc(9vh - 30px);

    ul {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        justify-content: center;
        justify-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media (min-width: 741px) {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 20px;
        }

        @media (max-width: 740px) {
            margin-top: 0;
            grid-gap: calc(16vh - 100px);
            grid-auto-flow: row;
        }
    }

    li {
        @keyframes slideInFromBottom {
            0% {
                transform: translateY(80%);
                opacity: 0;
            }
            50% {
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
        opacity: 0;
        animation: $navbar-animation-length ease-out 0s 1 slideInFromBottom forwards;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms * $i;
            }
        }

        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        justify-items: center;

        span {
            visibility: hidden;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;

            @media (max-width: 740px) {
                margin-top: -5px;
                visibility: visible;
            }
        }

        a svg {
            transition: ease-in-out 200ms;
        }

        &:focus,
        &:active,
        &:hover, {

            a svg {
                transform: scale(1.2);
                transform-origin: 50% 50%;
            }

            span {
                visibility: visible;
            }
        }
    }

    a {
        font-size: clamp(2rem, 4vw, 4rem);
        color: white;

        @media (max-width: 740px) {
            font-size: 3rem
        }
    }
}