.navbar-nav a {
    display:inline-block;
}

.navbar-nav a:after {
    display:block;
    content: '';
    border-bottom: 3px solid cyan;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.navbar-nav a:hover {
    transform: translateY(-10%);
}

.navbar-nav a:hover:after {
    transform: scaleX(1);
}

.nameContainer {
    text-align: center;
}

.name {
    font-size: 42px;
}

.jobTitle {
    margin-top: -6px;
    font-size: 18px;
}

.nav-link {
    font-size: 24px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .navContainer {
        margin: 0;
    }

    .nav-link {
        width: 80px;
        margin: auto;
    }

    .navbar-brand {
        margin-top: 15px;
        margin-right: 0!important;
        margin-bottom: 20px;
        margin-left: 10px;
        width: auto;
    }

    .nameContainer {
        float: left;
    }

    .name {
        font-size: 32px;
    }

    .jobTitle {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1000px) {
    .navContainer {
        margin: 30px 75px 50px;
    }

    .nav-link {
        width: auto;
        margin: auto 20px;
    }

    #responsive-navbar-nav {
        margin-top: 20px;
    }
}