.navbar-nav {
    a {
        display:inline-block;
    }

    .nav-link:after {
        display:block;
        content: '';
        border-bottom: 3px solid #1cacd7;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    .nav-link:hover:after {
        transform: scaleX(1);
    }

    .email-link {
        min-width: 148.77px;
        color: white!important;
        background-color: #ce5310;
        padding: 12px 15px!important;
        border: none;
        font-size: 18px;
        font-weight: 700;
        font-family: "SF Mono","Fira Code", "Fira Mono", "Roboto Mono", monospace;
        line-height: 1;
        text-decoration: none!important;
        cursor: pointer;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

        @media (min-width: 741px) {
            margin-bottom: 6px!important;
        }


        @media (max-width: 991px) {
            margin: 0 auto!important;
        }

        &:hover {
            background-color: #e29b2e;
        }
    }

}

.nameContainer {
    text-align: center;
}

.name {
    font-size: 42px;
}

.jobTitle {
    margin-top: -6px;
    font-size: 18px;

    p {
        display: inline-block;
    }

    p:first-letter {
        color: orange;
    }

    p:first-child:after {
        content: " ";
        white-space: pre;
    }
}

.nav-link, .email-link {
    font-size: 24px;
    text-align: center;
}

@media only screen and (max-width: 740px) {
    .navHeader {
        margin-top: 5px;

        .navbar-brand {
            @media (max-width: 320px) {
                margin-right: 0;
            }
        }
    }

    .nav-link, .email-link {
        width: 80px;
        margin: auto;
    }

    .navbar-brand {
        margin: 15px 0 20px 10px;
        width: auto;
    }

    .nameContainer {
        float: left;
    }

    .name {
        font-size: 32px;
    }

    .jobTitle {
        font-size: 14px;
    }
}

@media only screen and (min-width: 741px) {
    .navHeader {
        margin: 30px clamp(75px, 10vw, 170px) 50px;
    }

    .nav-link, .email-link {
        width: auto;
        margin: auto 20px;

        &:last-child {
            margin: auto 0 auto 20px;
        }
    }

    #responsive-navbar-nav {
        margin-top: 20px;
    }
}