.footerMargin {
    margin-top: 100px;
}

.bold-text {
    font-weight: bold;
}

.inherit-background {
    background-color: inherit;
}

.children-inherit-background > * {
    background-color: inherit;
}

nav.footer {
    a {
        font-size: medium;

        &:hover {
            text-decoration: none;
        }
    }

    .links a {
        > * {
            margin-right: 6px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.ml-65to150 {
    margin-left: clamp(65px, 10vw, 170px);
    @media (max-width: 740px) {
        margin-left: 0;
    }
}

.mr-65to150 {
    margin-right: clamp(65px, 10vw, 170px);
    @media (max-width: 740px) {
        margin-right: 0;
    }
}

.mobile-hide {
    @media (max-width: 850px) {
        display: none;
    }
}

nav.footer .grid {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    grid-gap: 30px;

    @media (max-width: 740px) {
        grid-gap: 10px;
    }
}

.navbar-brand {
    @media (max-width: 740px) {
        margin-top: 0;
        margin-bottom: 0;
    }
}